* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}

header {
    background: darkgray;
    display: flex;
    align-items: center;
    font-family: "poppins";
    font-weight: 500;
    justify-content: center;
    height: 70px;
}

ul {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

li, a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    background: darkgray;
    flex-wrap: wrap;
    font-family: "poppins";
    font-weight: 700;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
}

.container__titulo {
    font-size: 34px;
}

.container__ponto__turistico {
    font-size: 34px;
    text-transform: uppercase;
}

img {
    width: 50%;
}

p {
    font-size: 22px;
    color: black;
}

.container__rodape {
    color: black;
    font-family: "poppins";
    font-weight: 400;
}
